.cat-details {
  width: 50%;
  margin: auto;
}

.card {
  width: 100%;
  height: 300px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 30px;
  justify-content: space-between;
}

.card--left {
  width: 300px;
  flex-shrink: 0;
}

.card--left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .btn {
  margin-top: 15px;
}

.card--right {
  width: 50%;
  padding: 30px;
}

.closebtn {
  position: absolute;
  top: 0px;
  right: 0px;
}

@media screen and (max-width: 1300px) {
  .card--right .btn {
    padding: 10px 15px;
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .card {
    flex-direction: column;
    height: auto;
  }

  .card--left {
    width: 100%;
  }

  .card--right {
    width: 100%;
    box-sizing: border-box;
  }
  .card .btn {
    margin: 15px auto;
  }
}

@media screen and (max-width: 700px) {
  .cat-details {
    width: 80%;
  }
}
